.restaurant_item {
  width: 350px;
  border: 1px solid whitesmoke;
  color: #fafafa;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(14, 110, 255, 0.5);
  margin-top: 50px;
  padding: 10px 50px;

}





