.header{
  padding: 20px 0 20px 0;
  background-color: rgb(250, 250, 250);
}
.title{
  font-size: 30px;
  text-align: center;
}
.headerItems{
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}